Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd       
import numpy as np

In [ ]:
path = '/content/drive/MyDrive/ecommerce.csv' # path of the dataset 

ec = pd.read_csv(path)

**Check the head of the DataFrame.**

In [ ]:
ec

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1     9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                    Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3               7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82
...                                                 ...  ...            ...
9995    966 Castaneda Locks\r\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\r\nNorth Edwardburgh,...  ...          25.63
9997            Unit 4434 Box 6343\r\nDPO AE 28026-0283  ...          83.98
9998             0096 English Rest\r\nRoystad, IA 12457  ...          38.84
9999   40674 Barrett Stravenue\r\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

In [ ]:
ec.head(4)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                 Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3            7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04

[4 rows x 14 columns]

** How many rows and columns are there? **

In [ ]:
ec.shape

(10000, 14)

In [ ]:
"row- " + str(len(ec)) + " columns- " + str(len(ec.columns))

'row- 10000 columns- 14'

In [ ]:
ec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [ ]:
ec["Purchase Price"].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [ ]:
ec["Purchase Price"].max()

99.99

In [ ]:
ec["Purchase Price"].min()

0.0

** How many people have the job title of "Lawyer" ? **

In [ ]:
len(ec.loc[ec['Job'] == 'Lawyer'])

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [ ]:
ec['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [ ]:
ec['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [ ]:
ec[ec['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [ ]:
ec[ec['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [ ]:
len(ec[(ec['CC Provider']=="American Express") & (ec['Purchase Price']>95)])

39

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
def expires(exp_date):
  exp=list(exp_date)
  if exp[3]=='2' and exp[4]=="5":
      return True
  else:
      return False

In [ ]:
ec['CC Exp Date'].apply(expires).sum()

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
def popular_emails(email):
  x=email.split('@')
  return x[-1]

In [ ]:
ec['Email'].apply(popular_emails).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!